var express = require('express');
var router = express.Router();
const { Resolver } = require('node:dns');

const resolver = new Resolver();

router.get('/', async (req, res) => {
  resolver.setServers(['127.0.0.1']);

  resolver.resolveCname(`web.{{ subdomain }}.runonflux.io`, (err, addresses) => {
    if (err) {
      return res.status(500).json({ error: err })
    };
    return res.status(200).json(addresses);
  });
});

module.exports = router;
