# Primary server configuration for slave PowerDNS servers
# This file specifies which master server to replicate from with TSIG authentication

{% set env = 'staging' if DEPLOY_ENV == 'staging' else 'production' %}
{% set zones = powerdns[env].zones %}

# Get master server IP from current group
{% set master_ip = None %}
{% for host in groups[group_names[0]] %}
  {% if hostvars[host].pdns_role == 'master' %}
    {% set master_ip = hostvars[host].ansible_host %}
    {% break %}
  {% endif %}
{% endfor %}

# Configure zones from master server with TSIG authentication
{% for zone in zones %}
# Zone: {{ zone }}
[{{ zone }}]
type=slave
master={{ master_ip }}:53
tsig-algo=hmac-sha256
tsig-secret={{ tsig[env].zone_transfer_key }}
tsig-name=zone-transfer

{% endfor %}