# TSIG key for zone transfers between master and slaves
# This key must be identical on all servers in the same environment
{% set env = 'staging' if DEPLOY_ENV == 'staging' else 'production' %}
key "zone-transfer" {
  algorithm hmac-sha256;
  secret "{{ powerdns[env].tsig_zone_transfer_key }}";
};